# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.idea/.gitignore
/components/ui/accordion.tsx
/components/ui/alert.tsx
/components/ui/alert-dialog.tsx
/components/ui/aspect-ratio.tsx
/components/ui/avatar.tsx
/components/ui/badge.tsx
/components/ui/breadcrumb.tsx
/components/ui/button.tsx
/components/ui/calendar.tsx
/components/ui/card.tsx
/components/ui/carousel.tsx
/components/ui/chart.tsx
/components/ui/checkbox.tsx
/components/ui/collapsible.tsx
/components/ui/command.tsx
/components.json
/components/ui/context-menu.tsx
/components/ui/dialog.tsx
/components/ui/drawer.tsx
/components/ui/dropdown-menu.tsx
/components/ui/form.tsx
/app/globals.css
/styles/globals.css
/src/assets/components/header/header.css
/components/ui/hover-card.tsx
/components/ui/input.tsx
/components/ui/input-otp.tsx
/.idea/kanban-todo.iml
/components/ui/label.tsx
/app/layout.tsx
/src/assets/components/modal/loginModal.css
/components/ui/menubar.tsx
/.idea/modules.xml
/components/ui/navigation-menu.tsx
/next.config.mjs
/components/ui/pagination.tsx
/public/placeholder.jpg
/public/placeholder.svg
/public/placeholder-logo.png
/public/placeholder-logo.svg
/public/placeholder-user.jpg
/pnpm-lock.yaml
/components/ui/popover.tsx
/postcss.config.mjs
/components/ui/progress.tsx
/.idea/inspectionProfiles/Project_Default.xml
/components/ui/radio-group.tsx
/components/ui/resizable.tsx
/components/ui/scroll-area.tsx
/src/assets/components/kanban/section.css
/components/ui/select.tsx
/components/ui/separator.tsx
/components/ui/sheet.tsx
/components/ui/sidebar.tsx
/components/ui/skeleton.tsx
/components/ui/slider.tsx
/components/ui/sonner.tsx
/components/ui/switch.tsx
/components/ui/table.tsx
/components/ui/tabs.tsx
/components/ui/textarea.tsx
/components/theme-provider.tsx
/components/ui/toast.tsx
/components/ui/toaster.tsx
/components/ui/toggle.tsx
/components/ui/toggle-group.tsx
/components/ui/tooltip.tsx
/hooks/use-mobile.ts
/components/ui/use-mobile.tsx
/components/ui/use-toast.ts
/hooks/use-toast.ts
/lib/utils.ts
/.idea/vcs.xml
